In [1]:
import pandas as pd
import numpy as np
from math import sqrt

In [2]:
df=pd.read_csv('resultado_consolidado.csv')
n_perguntas = len(df)/5
n = len(df)/30
print(n_perguntas)

6.0

In [3]:
perguntas = np.zeros((int(n), int(n_perguntas)))
df["score"]= (df["gabarito"]==df["rotulo"])
df["score"] = df["score"].astype(int)
df['aceita']=0
print(perguntas)
df

[[0. 0. 0. 0. 0. 0.]]

,usuario,pergunta,resposta,tipo,gabarito,rotulo,score,aceita
0,0,0,Descobrir que tu tem q tomar remédio p vida in...,2,0,0,1,0
1,0,0,"aaaaaaaa amei tanto essas polaroids, nem sei e...",1,1,1,1,0
2,0,0,"@chimekarlla gosto muito de fazenda , mas mor...",0,1,1,1,0
3,0,0,"@behin_d_curtain Para mim, é precisamente o co...",0,0,1,0,0
4,0,0,tudo que eu não queria era estar em casa sozin...,0,0,0,1,0
5,0,1,nossa essa bateu até a tristeza,2,0,0,1,0
6,0,1,Valoriza o coração do menininho que vc tem. El...,0,1,1,1,0
7,0,1,@KingJokerLeto mas amiga eu to aqui ainda,0,0,0,1,0
8,0,1,Não tô me sentindo bem hoje :( af,2,0,0,1,0
9,0,1,feliz dia :p,1,1,1,1,0
10,0,2,O Spotify não tem a ESPETACULAR Who Did That t...,2,0,0,1,0
11,0,2,@frozenbydesire não aguento mais migo,2,0,0,1,0
12,0,2,essa música consegue me destruir em pedacinhos...,2,0,0,1,0
13,0,2,é tão lindo que dói,0,1,1,1,0
14,0,2,eu te amo tanto minja vidinha meu bem mais pre...,1,1,1,1,0
15,0,3,"@Goncla_Silva és um gajo bacano, vê lá se não ...",0,1,1,1,0
16,0,3,ba eu tava tri feliz com o solasso q tava,1,1,1,1,0
17,0,3,eu não quero que o copter saia é meu ator e p...,2,0,0,1,0
18,0,3,@petitjaems é uma coisa maravilhosa,1,1,1,1,0
19,0,3,Já com saudades do meu nenê,0,0,0,1,0
20,0,4,"@RivasJairo Bravo, Jairo!!!",0,1,1,1,0
21,0,4,"Seu carinho por mim é tão bom, que meu coração...",1,1,1,1,0
22,0,4,Meu amigo parece estar apaixonado por vc — é r...,1,1,1,1,0
23,0,4,Eu to tão triste de ficar essa semana toda sem...,2,0,0,1,0
24,0,4,Sdds dos tempos e da galera que não volta mais,2,0,0,1,0
25,0,5,@anadantassa_ Feliz dia das crianças :),1,1,1,1,0
26,0,5,eu cortei o cabeloooo e mds eu gostei mt,1,1,1,1,0
27,0,5,Amanha vou ver venom :D,0,1,1,1,0
28,0,5,Porque simplesmente as coisas que me deixam ch...,2,0,0,1,0
29,0,5,Como vai o namoro — Melhor impossível :))),1,1,1,1,0

In [4]:
grouped = df.groupby(['usuario', 'pergunta', 'tipo'])
for name, group in grouped:
    if (name[2] == 1 or name[2]== 2):
        if (len(group)==group['score'].sum()):
            perguntas[name[0],name[1]] += 0.5
            if (perguntas[name[0],name[1]]==1):
                df.loc[(df['usuario'] ==name[0]) & (df['pergunta'] == name[1]), 'aceita'] = 1
                
        #print (name)
        #print (group)

In [5]:
a=df[df['tipo']==0].groupby(['pergunta']).agg({'score':'count', 'aceita': 'sum'}).reset_index().rename(columns={'pergunta':"estrategia",'score':'Total sentenças'})

In [6]:
#quantidade de rotulações aceitas por estratégia
a

   estrategia  Total sentenças  aceita
0           0                3       3
1           1                2       2
2           2                1       1
3           3                2       2
4           4                1       1
5           5                1       1

In [7]:
#df.groupby(['pergunta']).filter(lambda x: (x['tipo'] == 0).any()).agg({'score':'sum', 'rotulo': 'count'}).rename(columns={'score':'Total sentenças'})
#acurácia das rotulações por estratégia
df[df['tipo']==0].groupby(['pergunta']).agg({'rotulo': 'count','score':'sum'}).reset_index().rename(columns={'pergunta':"estrategia",'rotulo':'Total sentenças','score':'Acertos'})

   estrategia  Total sentenças  Acertos
0           0                3        2
1           1                2        2
2           2                1        1
3           3                2        2
4           4                1        1
5           5                1        1

In [8]:
aux=df[df['tipo']==0].groupby(['resposta']).agg({'tipo': 'count','rotulo': 'sum','score':'sum', 'gabarito':'mean'}).reset_index().rename(columns={'tipo':'Total Respostas','rotulo':'Média','score':'Acertos'})
aux

,resposta,Total Respostas,Média,Acertos,gabarito
0,"@Goncla_Silva és um gajo bacano, vê lá se não ...",1,1,1,1
1,@KingJokerLeto mas amiga eu to aqui ainda,1,0,1,0
2,"@RivasJairo Bravo, Jairo!!!",1,1,1,1
3,"@behin_d_curtain Para mim, é precisamente o co...",1,1,0,0
4,"@chimekarlla gosto muito de fazenda , mas mor...",1,1,1,1
5,Amanha vou ver venom :D,1,1,1,1
6,Já com saudades do meu nenê,1,0,1,0
7,Valoriza o coração do menininho que vc tem. El...,1,1,1,1
8,tudo que eu não queria era estar em casa sozin...,1,0,1,0
9,é tão lindo que dói,1,1,1,1

In [9]:
aux['u >=']=aux['Média']-1.96*aux['Média']*(1-aux['Média'])/sqrt(n)
aux['u <=']=aux['Média']+1.96*aux['Média']*(1-aux['Média'])/sqrt(n)

In [10]:
#estimador do u com 95% de confiança
aux

,resposta,Total Respostas,Média,Acertos,gabarito,u >=,u <=
0,"@Goncla_Silva és um gajo bacano, vê lá se não ...",1,1,1,1,1.0,1.0
1,@KingJokerLeto mas amiga eu to aqui ainda,1,0,1,0,0.0,0.0
2,"@RivasJairo Bravo, Jairo!!!",1,1,1,1,1.0,1.0
3,"@behin_d_curtain Para mim, é precisamente o co...",1,1,0,0,1.0,1.0
4,"@chimekarlla gosto muito de fazenda , mas mor...",1,1,1,1,1.0,1.0
5,Amanha vou ver venom :D,1,1,1,1,1.0,1.0
6,Já com saudades do meu nenê,1,0,1,0,0.0,0.0
7,Valoriza o coração do menininho que vc tem. El...,1,1,1,1,1.0,1.0
8,tudo que eu não queria era estar em casa sozin...,1,0,1,0,0.0,0.0
9,é tão lindo que dói,1,1,1,1,1.0,1.0